@import './colors';

.shorter {
  align-items: center;
  background-image: url(../../../Assets/background-home.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  text-align: center;

  .shorter__container {
    max-width: 562px;
    padding: 0px 15px;
  }

  .shorter__title {
    font-size: 2.75em;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
  }

  .shorter__description {
    font-size: 1.2em;
  }

  .shorter__form {
    display: flex;
    margin-top: 1.5em;

    .shorter__form__input-container {
      align-items: center;
      border-bottom: 2px solid $form;
      display: flex;
      flex: 1;
      margin-right: 10px;
    }

    .shorter__remove__icon {
      cursor: pointer;
      opacity: 0;
      transition: opacity 300ms ease-in-out;

      &.show {
        opacity: 1;
      }
    }

    .shorter__form__input {
      background: none;
      border: none;
      color: $form;
      font-size: 1em;
      padding: 0.5em 0px;
      width: 100%;

      &:read-only {
        color: #fff;
      }

      &::placeholder {
        color: $form;
      }

      transition: opacity 300ms ease-in-out;
      &.fade {
        opacity: 0;
      }
    }

    .shorter__form__button {
      background-color: $form;
      border: none;
      color: #fff;
      font-size: 1em;
      font-weight: bold;
      padding: 0.75em;
      text-transform: uppercase;

      span {
        transition: opacity 300ms ease-in-out;
        &.fade {
          opacity: 0;
        }
      }
    }
  }
}
