@import './colors';

.shorter {
  align-items: center;
  background-image: url(../../../Assets/background-home.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  text-align: center;

  .shorter__container {
    max-width: 562px;
    padding: 0px 15px;
  }

  .shorter__title {
    font-size: 2.75em;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
  }

  .shorter__description {
    font-size: 1.2em;
  }

  .shorter__form {
    display: flex;
    margin-top: 1.5em;

    .shorter__form__input {
      background: none;
      border: none;
      border-bottom: 2px solid $form;
      color: $form;
      font-size: 1em;
      margin-right: 10px;
      padding: 0.5em 0px;
      width: 100%;

      &::placeholder {
        color: $form;
      }
    }

    .shorter__form__button {
      background-color: $form;
      border: none;
      color: #fff;
      font-size: 1em;
      font-weight: bold;
      padding: 0.75em;
      text-transform: uppercase;
    }
  }
}
