@import './colors';
@import './utils';

.top-5 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1em 0px;
  position: relative;

  @media screen and (min-width: 562px) {
    padding: 3em;
  }

  .top-5__container {
    max-width: 500px;
    padding: 0px 15px;
    width: 100%;
  }

  .top-5__title {
    color: $primary;
    font-size: 2.5em;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .top-5__list {
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 1.2em;

    .top-5__item {
      border-bottom: 1px solid $background;
      display: flex;
      justify-content: space-between;
      padding: 0.75em 0px;
      width: 100%;

      .top-5__item__link {
        color: $primary;
        font-weight: bold;
        text-decoration: none;
      }

      .top-5__item__amount {
        color: $secondary;
      }
    }
  }

  &::after {
    border: $top5AfterSize solid transparent;
    border-top-color: #fff;
    bottom: calc(#{$top5AfterSize} * -1);
    content: ' ';
    height: 0px;
    position: absolute;
    transform: translateY(50%);
    width: 0px;
  }
}
