html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

*,
input,
button {
  box-sizing: border-box;
  outline: none; }

body,
input,
button {
  font-family: 'Roboto', sans-serif; }

button {
  cursor: pointer; }

.header {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 1em; }
  .header img {
    width: 120px; }

.shorter {
  align-items: center;
  background-image: url(../../../Assets/background-home.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  text-align: center; }
  .shorter .shorter__container {
    max-width: 562px;
    padding: 0px 15px; }
  .shorter .shorter__title {
    font-size: 2.75em;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0; }
  .shorter .shorter__description {
    font-size: 1.2em; }
  .shorter .shorter__form {
    display: flex;
    margin-top: 1.5em; }
    .shorter .shorter__form .shorter__form__input-container {
      align-items: center;
      border-bottom: 2px solid #fe6c17;
      display: flex;
      flex: 1;
      margin-right: 10px; }
    .shorter .shorter__form .shorter__remove__icon {
      cursor: pointer;
      opacity: 0;
      transition: opacity 300ms ease-in-out; }
      .shorter .shorter__form .shorter__remove__icon.show {
        opacity: 1; }
    .shorter .shorter__form .shorter__form__input {
      background: none;
      border: none;
      color: #fe6c17;
      font-size: 1em;
      padding: 0.5em 0px;
      width: 100%;
      transition: opacity 300ms ease-in-out; }
      .shorter .shorter__form .shorter__form__input:read-only {
        color: #fff; }
      .shorter .shorter__form .shorter__form__input::placeholder {
        color: #fe6c17; }
      .shorter .shorter__form .shorter__form__input.fade {
        opacity: 0; }
    .shorter .shorter__form .shorter__form__button {
      background-color: #fe6c17;
      border: none;
      color: #fff;
      font-size: 1em;
      font-weight: bold;
      padding: 0.75em;
      text-transform: uppercase; }
      .shorter .shorter__form .shorter__form__button span {
        transition: opacity 300ms ease-in-out; }
        .shorter .shorter__form .shorter__form__button span.fade {
          opacity: 0; }

.top-5 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1em 0px;
  position: relative; }
  @media screen and (min-width: 562px) {
    .top-5 {
      padding: 3em; } }
  .top-5 .top-5__container {
    max-width: 500px;
    padding: 0px 15px;
    width: 100%; }
  .top-5 .top-5__title {
    color: #aa1432;
    font-size: 2.5em;
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  .top-5 .top-5__list {
    list-style: none;
    padding: 0;
    width: 100%;
    font-size: 1.2em; }
    .top-5 .top-5__list .top-5__item {
      border-bottom: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      padding: 0.75em 0px;
      width: 100%; }
      .top-5 .top-5__list .top-5__item .top-5__item__link {
        color: #aa1432;
        font-weight: bold;
        text-decoration: none; }
      .top-5 .top-5__list .top-5__item .top-5__item__amount {
        color: #777; }
  .top-5::after {
    border: 40px solid transparent;
    border-top-color: #fff;
    bottom: calc(40px * -1);
    content: ' ';
    height: 0px;
    position: absolute;
    transform: translateY(50%);
    width: 0px; }

.hits {
  background-color: #eee;
  padding: calc(40px + 1em) 15px;
  text-align: center; }
  .hits .hits__title {
    color: #aa1432;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase; }
  .hits .hits__amount {
    background-color: #fff;
    border: 1px solid rgba(119, 119, 119, 0.4);
    border-radius: 4px;
    color: #aa1432;
    display: inline-block;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 0.5rem;
    margin-top: 1.25rem;
    padding: 0.25rem 0.75rem; }
  .hits .hits__description {
    color: #777;
    display: block; }

.footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1em; }
  .footer .footer__site-url {
    color: #aa1432;
    font-size: 1.25em;
    margin: 0px; }
  .footer .footer__social-media {
    align-items: center;
    display: flex; }
    .footer .footer__social-media .footer__social-media__item {
      display: inline-flex;
      text-decoration: none; }
      .footer .footer__social-media .footer__social-media__item + .footer__social-media__item {
        margin-left: 2em; }

/*# sourceMappingURL=style.css.map */
